* {
    outline: none;
}

@font-face {
    font-family: "Arapey-Italic";
    src: url("../fonts/Arapey-Italic.ttf");
}

@font-face {
    font-family: "ArimaMadurai";
    src: url('../fonts/ArimaMadurai-Regular.ttf')
}

@font-face {
    font-family: "Courgette";
    src: url('../fonts/Courgette-Regular.ttf')
}

@font-face {
    font-family: "Handlee";
    src: url('../fonts/Handlee-Regular.ttf')
}

@font-face {
    font-family: "Kalam";
    src: url('../fonts/Kalam-Regular.ttf')
}

@font-face {
    font-family: "KaushanScript";
    src: url('../fonts/KaushanScript-Regular.ttf')
}

@font-face {
    font-family: 'NewsCycle';
    src: url('../fonts/NewsCycle-Regular.ttf');
}

@font-face {
    font-family: 'PontanoSans';
    src: url('../fonts/PontanoSans-Regular.ttf');
}

@font-face {
    font-family: 'Prompt';
    src: url('../fonts/Prompt-Regular.ttf');
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/Segoe UI.ttf');
}

body {
    font-family: 'Quicksand', 'Segoe UI';
    overflow-x: hidden;
    font-size: 18px;
    line-height: 1.42857143;
}

#about,
#apply,
#programmes,
#contact {
    height: 100vh;
}


/* OFF CANVAS NAV */

#offCanvas {
    background-color: #333;
}

#offCanvas ul {
    list-style: none;
}

#offCanvas a {
    color: #f4f4f4;
}

#offCanvas a:hover {
    color: rgba(0, 230, 100, 0.8);
}


/*  NAV BAR.  */

.title-bar {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #4D414B;
    opacity: 0.8;
}

.wrap {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.top-bar {
    position: fixed;
    font-size: 0.89rem;
    font-weight: bold;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 60px;
    background-color: #4D414B;
    opacity: 0.8;
}

@media(max-width: 870px) {
    .show-for-medium {
        display: none;
    }
    #programmes {
        height: 100%;
    }
}

@media(min-width: 870px) {
    .title-bar {
        display: none;
    }
}
@media(min-width: 550px) {
    #programmes {
        height: 100%;
    }
}

#home {
    background-image: url('../img/3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    color: white;
    height: 100vh;
    margin-bottom: 10px;
}

.menu a {
    color: white;
    background-color: #4D414B;
}

.menu-title,
.title-bar-title {
    font-family: "Courgette";
    color: white;
}

.title-bar {
    background-color: #333;
    color: #f4f4f4;
}

.menu a:hover {
    color: rgba(0, 230, 100, 0.8);
}

a:active {
    color: rgba(0, 230, 100, 0.8);
}

.menu .is-active,
#offCanvas .is-active {
    color: rgba(0, 230, 100, 0.8);
}

.welcome {
    padding-top: 280px;
    padding-bottom: 100px;
}

.welcome-text {
    font-family: 'Arapey-Italic';
    font-size: 30px;
    text-align: center;
    line-height: 22px;
    margin-bottom: 40px;
    color: #583847;
}

.welcome p {
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 25px;
}

.welcome-button {
    border-color: #fed136;
    border-radius: 3px;
    color: #fff;
    font-family: "Kalam";
    font-size: 30px;
    padding: 20px 40px;
    text-transform: capitalize;
}

.welcome button:hover {
    background-color: rgba(0, 230, 100, 0.8);
}

@media (min-width: 768px) {
    .welcome {
        padding-top: 350px;
        padding-bottom: 280px;
    }
    .welcome-text {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 25px;
    }
    .welcome p {
        text-transform: uppercase;
        text-align: center;
        font-weight: 600;
        font-size: 75px;
        line-height: 75px;
    }
}


/* ABOUT PAGE. */


#about {
    text-align: center;
    height: 80vh;
    background-color: #f9f9f0;
    padding-top: 150px;
    padding-bottom: 30px;
}

.about-details {
    padding-top: 100px;
    align-content: center;
    text-align: center;
    padding-bottom: 80px;
    height: 100%;
}

#programmes {
    
    padding-top: 80px;
    padding-bottom: 100px;
}

#apply {
    background-image: url("../img/5.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
}

.apply-form-side {
    background-color: rgba(0, 0, 0, 0.55);
}

.apply-form {
    border: 1px solid rgba(98, 116, 90, 0.7);
    background-color: rgba(98, 116, 90, 0.3);
    border-radius: inherit
}

.apply-form label {
    background-color: transparent;
    font-weight: bolder;
    color: rgba(0, 0, 0, 1.0);
}

.help-text {
    font-weight: 900;
    background-color: transparent;
}

p.callout {
    background-color: rgba(98, 116, 90, 0.4);
}

#apply-form input::placeholder,
#apply-form textarea::placeholder {
    color: rgba(1, 17, 5, 0.9);
}

#apply-form input.button {
    background-color: rgba(6, 94, 19, 1.0);
    margin-right: 60px;
}

#apply-form input.clear {
    background-color: rgb(56, 56, 56);
    margin-right: 60px;
    color: white;
}

#contact,
#apply {
    height: 100%;
}